@import '../../sass/variables';
@import '../../sass/mixins';

.relevant__wrapper {
	@include for_tablet {
		padding-bottom: 30px;
	}

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	padding-bottom: 77px;
}

.relevant__title {
	@include for_tablet {
		padding: 20px 30px;
	}
	@include for_mobile {
		padding: 10px 20px;

		font-size: $main_title_font_size * 0.8;
		line-height: $main_title_line_height * 0.8;
	}

	padding: 26px 72px 44px 50px;
	margin: 0;

	font-size: $main_title_font_size;
	font-weight: bold;
	line-height: $main_title_line_height;
	text-align: center;

	color: $green;
}

.relevant__filter {
	@include for_mobile {
		margin-bottom: 20px;
	}

	margin-bottom: 45px;
}

.relevant__list {
	@include for_tablet {
		margin-bottom: 20px;

		column-gap: 20px;

		row-gap: 20px;
	}

	display: grid;
	justify-content: center;
	align-items: start;

	padding: 0;
	margin: 0 0 61px;

	list-style: none;

	column-gap: 21px;

	grid-template-columns: repeat(auto-fill, minmax($content_width_mobile, 379px));
	row-gap: 37px;
}
