@import '../../sass/variables';
@import '../../sass/mixins';

.button {
	@include only_desktop {
		&:hover,
		&:focus {
			opacity: $hover_opacity;

			outline: none;

			&::before {
				transform: translateY(-50%) translateX(2px);
			}
		}

		&:active {
			opacity: $active_opacity;
		}
	}

	position: relative;

	align-self: center;

	padding: 11px 44px 13px 32px;
	margin-right: 24px;

	font-weight: bold;
	line-height: $extra_line_height;
	letter-spacing: -0.3px;
	text-decoration: none;

	color: $black;

	border: $border_default;
	border-radius: 25px;

	transition-duration: 100ms;

	&::before {
		position: absolute;
		top: 50%;
		right: 27px;

		width: 8px;
		height: 18px;

		content: '';

		background-image: url('./icon-arrow.svg');
		background-position: 50% 50%;
		background-repeat: no-repeat;

		transform: translateY(-50%);

		transition-duration: 200ms;
	}
}
